body{
    background: linear-gradient(to left,rgb(117, 227, 231),rgb(86, 207, 151),rgb(11, 226, 180));
    width: 89vw;
}

.main{
    width: 350px;
    margin: 200px auto;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 10px 50px rgb(0, 0, 0);
}
.date{
    text-align: center;
    color: crimson;
    padding: 20px;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px pink;
}
.time{
    text-align: center;
    padding: 20px;
    font-size: 40px;
    color: rgb(2, 4, 97);
    text-shadow: 2px 2px 2px white;
}
.head{
    width:97.5%;
    text-align: center;
    letter-spacing: 10px;
    transition: 3s;
    color: green;
    text-shadow: 3px 3px 8px rgb(236, 14, 14);
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 40px 40px 40px 40px;
    box-shadow: 2px 2px 50px rgb(255, 255, 255);
    
}
h1:hover{
    transform: scale(0.9);
    transition: 2s;
}
